  .navy{
    background-color: navy;
    color: white;
  }
  .red{
    background-color: maroon;
    color: white;
  }
  .img-set{
    border: 3px solid lightgrey;
  }
  
  .caption{
    font-style: italic;
    background-color: lightgrey;
    color: black;
    
  }
  .maxWidth{
    max-width: 910px;
  }
 
  .padding{
    padding: 20px;
  }
  .georgia{
    font-family: georgia;
  }
